.sidebar__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .1s ease-out;
  border-radius: 30px;

  .MuiSvgIcon-root {
    padding: 12px 20px;
    font-size: 2rem;
  }

  h2 {
    font-weight: 700;
    font-size: 19px;
    margin-right: 20px;
  }

  &:hover {
    background-color: #e8f5fe;
    border-right: 30px;
    color: var(--twitter-color)
  }

  //&-active {
  //  color: var(--twitter-color)
  //}
}

.sidebar .active {
  color: var(--twitter-color)
}