.feed {
  flex: 0.6;
  min-width: fit-content;
  border-right: 1px solid var(--twitter-background);
  border-left: 1px solid var(--twitter-background);

  &__header {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 800;

    &-wrapper {
      display: flex;
      border-bottom: 1px solid var(--twitter-background);
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: #fff;
    }
  }
}

.add__border {
  border-bottom: 8px solid var(--twitter-background);
}

.loader {
  text-align: center;
  margin-top: 40px;
}

