.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  transition: all .3s ease-in-out;

  &__date {
    color: #657786;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-left: 10px;

    &::before {
      content: '.';
      position: absolute;
      left: 0;
      top: -3px;
      height: 3px;
      width: 3px;
    }
  }



  &__header {
    margin: 10px 0;

    &-description {
      max-width: 500px;
    }

    &-username {
      font-weight: 600;
      font-size: 18px;
      color: #657786;
      display: flex;
      align-items: center;
      padding: 0 8px;
    }

    &-text {
      user-select: none;
      h3 {
        display: flex;
        align-items: center;
      }
    }
  }

  &__avatar {
    padding: 10px;
    margin-top: 15px;

    .MuiAvatar-root {
      height: 55px;
      width: 55px;
      object-fit: contain;
    }
  }

  &__body {
    flex: 1;
    padding: 10px;

    img {
      border-radius: 20px;
      max-width: 500px;
      max-height: 300px;
      object-fit: contain;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 70px;

    &-icon {
      cursor: pointer;
      transition: color .2s ease-in !important;

      &:hover {
        color: var(--twitter-color)
      }
    }
  }

  &__badge {
    font-size: 20px !important;
    color: var(--twitter-color);
    padding-right: 8px;
  }

  &:hover {
    background-color: #f5f8fa;
  }
}
