.sidebar {
  flex: 0.3;
  padding: 20px 20px 0 20px;
  max-width: 255px;
  position: sticky;
  top: 0;
  height: 0;

    &__btn {
      background-color: var(--twitter-color) !important;
      border: none !important;
      color: #fff !important;
      font-weight: 900 !important;
      text-transform: inherit !important;
      border-radius: 30px !important;
      height: 50px !important;
      margin-top: 20px !important;
      transition: all .2s ease-in;

      &:hover {
        background-color: #49a2d8 !important;
      }
    }

  &__twitterIcon {
    color: var(--twitter-color) !important;
    margin-left: 10px !important;
    margin-bottom: 20px;
    transition: all .3s ease-in-out !important;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.sidebar__tweetBox {
  border-bottom: none !important;
}

.MuiDialogContent-root {
  //padding: 0 !important;
}